//TODO: Set these variables by importing form json/colors.json instead of declaring them twice


$colorScheme: (
  'orange': #FC4C02,
  'yellow': #F1B434,
  'pink': #FFA38B,
  'teal':#B9DCD2,
  'corn': #F2EDD7,
  'blue': #004976,
  'charcoal': #414042,
  //! Start using the below key, value pairs from here on. The ones above have been kept to not break code, but will be switched eventually.
  'primary': #FC4C02,
  'secondary': #F1B434,
  'warning': #FFA38B,
  'success':#B9DCD2,
  'light': #F2EDD7,
  'info': #004976,
  'dark': #414042
);

$gray:(
  1: #fafafa,
  2: #F6F6F6,
  3: #B1B1B1,
  4: #707070,
  5: #B5B5B5
);

$link: (
  'default':#0064bd,
  'visited': #0077cc
);

$socialMedia: (
  'facebook': #1877F2,
  'messenger': #0084FF,
  'whatsapp': #25D366,
  'instagram': #E1306C,
  'twitter': #1DA1F2,
  'pinterest': #E60023,
  'linkedIn': #1666C5,
  'snapChat': #FFFC00,
  'youtube': #FF0000
);

