@mixin flexCenter($direction, $align) {
    display: flex;
    justify-content: center;
    align-items: $align;
    flex-direction: $direction;
}
  
.bs-center-row{
    @extend .row;
    justify-content: space-around;
    align-items: center;
}

.flex-center-row{
    @include flexCenter(row, center)
}

.flex-center-col{
    @include flexCenter(column, center)
}

.flex-start-col{
    @include flexCenter(column, start)
}

.flex-end-col{
    @include flexCenter(column, end)
}

@each $bp-name, $bp-pixels in $grid-breakpoints {   //looping through xs, sm, md, lg, xl and their pixel values 

    @media (max-width: $bp-pixels){ //only works if the screen is wider than this
        .only-gt-#{$bp-name} {  //names like flex-center-md-40
            display: none !important;
        }
    }

    @media (min-width: $bp-pixels){ //only works if the screen is wider than this
        .only-lt-#{$bp-name} {
            display: none !important;
        }
    }

    //classes that display their children in a row if the screen is at least $bp-pixels wide
    .flex-center-#{$bp-name}-row {  //names like flex-center-md-40
        @include flexCenter(row, center);
        flex-direction: column;
    }

    @media (min-width: $bp-pixels){ //only works if the screen is wider than this
        .flex-center-#{$bp-name}-row {  //names like flex-center-md-40
            flex-direction: row;
        }
    }

}
