$default-font: "Rubik", "Helvetica", "sans-serif";

.font-default {
    font-size: 16px;
}

.font-title {
    font-size: 18px;
}

.font-small {
    font-size: 14px;
}

.font-smaller {
    font-size: 12px;
}

.font-big-title {
    font-size: 20px;
}

.font-huge-title {
    font-size: 24px;
}

.font-giant-title {
    font-size: 34px;
}

.font-28 {
    font-size: 28;
}

.font-50 {
    font-size: 50;
}
