@import './colorScheme.scss';

.bg-gray1 {
    background-color: map-get($map: $gray, $key: 1);
  }
  
.bg-gray2 {
  background-color: map-get($map: $gray, $key: 2);
}
  
.bg-gray3 {
  background-color: map-get($map: $gray, $key: 3);
}

.bg-gray4 {
  background-color: map-get($map: $gray, $key: 4);
}

.bg-gray5 {
  background-color: map-get($map: $gray, $key: 5);
}

.text-gray1 {
  color: map-get($map: $gray, $key: 1);
}

.text-gray2 {
  color: map-get($map: $gray, $key: 2);
}

.text-gray3 {
  color: map-get($map: $gray, $key: 3);
}

.text-gray4 {
  color: map-get($map: $gray, $key: 4);
}

.text-gray5 {
  color: map-get($map: $gray, $key: 5);
}